<div class="sub-header">
  <div class="action-tab">
      <div class="action-btn" [routerLink]="['./home']">Home</div>
      <div class="action-btn" [routerLink]="['./summary']">Product Details</div>
      <div class="action-btn" [routerLink]="['./details']">Product Details1</div>
      <div class="action-btn" [routerLink]="['./details']">Product Details2</div>
      <div class="action-btn" [routerLink]="['./contactus']">Contact US</div>
  <!--  <div class="float-left action-btn" [routerLink]="['./summary']">Summary</div>
    <div class="action-btn" [routerLink]="['./details']">Details</div>-->
  </div>
</div>