.sub-header{
    height: 50px;
    background-color: deepskyblue;
    text-align: center;
    position: fixed;
    top:50px;
    width:100%;
    z-index:100;
}

.action-tab{
    height: 20px;
    margin: auto;
}
.action-btn{
    width: 100px;
    background-color: beige;
    margin-top: 15px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    border-radius:5px;
    cursor: pointer;
}

.border-right{
    border-right: 1px solid #000;
}