<div class="container-fluid profile-container">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <div>
       
      </div>
    </div>
    <div class="col-sm-7 col-md-7 col-lg-7 light-gray pad-top-10">
      <div *ngFor="let item of user.data" class="inline-block">
        <div class="pro-cont">
          <div class="pro-img">
          </div>
          <div>
            <span>{{item.name}}</span>
            <hr>
            <span>{{item.email}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
      <p>
        feature2 works!
      </p>
    </div>
  </div>
</div>