.header{
    height:50px;
     width:100%; 
     background-color:#000;
     color: #fff;
}

.left-container{
    height:calc(100% - 50px);
    position: fixed;
    width:270px;
    padding-top: 15px;
}
